
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .continent-container {
        min-height: fit-content;
        width:100%;
        min-width: min-content;
        max-width: min-content;
        padding: .5rem;
    }
    .continent-buttons {
        min-height: fit-content;
        padding: .5rem;        
    }
    .country-buttons {
        width:100%;
        height: fit-content;
        min-height: max-content;
        min-width: fit-content;
        padding: .5rem;
    }
    #country-buttons-container {
        min-height: fit-content;
        width:100%;
        min-width: fit-content;
        padding: .5rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* color: #0d0152; */
}
body {
    width: 100%;
    height: 100%;
    min-height: 50rem;
    display: flex;
    /* padding: 1.5rem; */
    align-items: center;
    flex-direction: column;
    /* justify-content: space-around; */
    /* box-shadow: inset 2px 2px 15px 2px #0d0152; */
    box-shadow: inset 2px 2px 15px 2px  #ffbb00;
    background : linear-gradient(140deg, #ff05bc, #3c00ff) no-repeat;
}


button, input{
  font-family: 'Poppins', sans-serif;
}


h1 {
    display: flex;
    justify-content: center;
    font-weight: 600;
    color:  #ffffff;
    text-shadow: #0d0152 2px 1px 2px;   
    font-size: 2rem;
    padding-top: 2rem;
}

.container {
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
}

.chart-container {  
 width: 100%;
 height: 100%;
 min-height: max-content;
 margin: 1.5rem 0;
}

/* make responsive */
.chart {
    width: calc(97% - .65rem);
    padding: 1rem;
    height: 30rem;
    min-height: max-content;
    /* min-width: fit-content;  */
    border-radius: 30px;
    background-color: #ffffff69;  
    /* align-items: end; */
    /* display: flex;     */
    box-shadow: inset #ffa600 0px 0px 20px 10px;
    /* flex-direction: column; */
}

.continent-container {
    display: flex; 
    height: max-content;
    padding: 1rem;
    flex-direction: column; 
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

button { 
    text-align: center;
    border: none;
    /* margin: .25rem; */
    padding: 0 1rem;
    /* width: max-content; */
    height: 2rem;
    border-radius: 15px;
    font-size: .85rem;
    background-color: #10205c26;
    box-shadow: inset 0px 0px 15px 1px #ffffff;
    color: #ffffff;
    cursor: pointer;
}

button:hover {  
    /* box-shadow: inset 0px 0px 8px 3px #ff006a; */
    /* box-shadow: inset 0px 0px 8px 3px #ff3c00; */
    /* box-shadow: inset 0px 0px 8px 3px #00ff4c; 
    box-shadow: inset 0px 0px 8px 3px #00ffd9; */
    /* box-shadow: inset 0px 0px 8px 3px #d167ff; */
    box-shadow: inset #ffcc00 0px 0px 15px 1px; 
    color: #ffcc00;
     transform: scale(1.05, 1.15);
    }

button:active {
    box-shadow: 0px 0px 15px 1px #ffcc00,
    inset 0px 0px 40px 0px #4f00bd54;
    /* background-color: #ff3c00; */
    /* background-color: #ff006a; */
    /* background-color: #00ff4c;
    background-color: #00ffd9; */
    /* background-color: #8d00c9; */
     transform: scale(.9, .8);
    color: #ffffff;
    /* color: #ffcc00; */
}

.clicked{
    box-shadow: inset #ffcc00 0px 0px 15px 1px; 
    color: #ffcc00;
}

.continent-buttons {
    text-align: center;
    border: none;
    padding: 0 1.5rem;
    width: 100%;
    height: 3.5rem;
    margin: .22rem;
    border-radius: 8px;
    /* box-shadow: inset 0px 0px 8px 3px #ffffff; */
}

.country-buttons {
    margin: .25rem;
    /* box-shadow: inset 0px 0px 8px 3px #ffffff; */
}
#country-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    padding: 0 2rem;
}

p a {
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    text-shadow: #0d0152 -1px 1px 2px;  
}

/* p span a {
    font-size: 1.1rem;
    color: #ffcc00;
    text-shadow: #0d0152 -1px 1px 2px;
    justify-content: center;
} */

/*
glow
    background-color: #ff3c00;
    background-color: #ff006a;
    background-color: #00ffa6;
*/
/*
    change countries buttons color
    and chart box shadow color
    with each color on continent

    with animation


    ================

    - changeable chart type 
    - flags


*/

